body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

form > * {
  margin: 10px 0;
}

form > button[type="submit"] {
  text-align: center;
}

.header {
  background-color: rgb(129, 163, 240);
  padding: 10px 0;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__profile {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.header__profile__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__profile__bio {
  font-size: 18px;
  color: black;
}

.header__controls {
  display: flex;
  align-items: center;
}

.header__controls__link {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  border: solid 1px transparent;
  border-radius: 5px;
  width: fit-content;
}

.header__controls__link:hover {
  color: black;
  border-color: black;
}

.main {
  padding: 20px 0;
}

.centered-content {
  text-align: center;
}

.note-card {
  margin: 10px 0;
}

.note-card-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.note-card-header > div:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .header__controls {
    flex-direction: column;
  }

  .header__controls__link {
    text-align: center;
  }
}
